{% if doi_zenodo or doi_arxiv or doi_paper %}
<p>
{% if doi_zenodo %}
<a href="https://doi.org/{{ doi_zenodo }}"><img class="logo" alt="Pipeline" src="https://zenodo.org/badge/DOI/{{ doi_zenodo }}.svg"></a>
{% endif %}
</p>
{% endif %}
